fastapi==0.65.2
pytest
starlette
requests
freezegun
black
isort
mypy
mypy-extensions
flake8
sqlalchemy-stubs
types-PyYAML
types-freezegun
google-api-python-client
google-auth-httplib2
google-auth-oauthlib